/* TRANSFORMATIONS */




/* BASE STYLES
------------------------------------- */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #8bc996;
    color: #1d1d1d;
    font-family: 'lobster', 'cursive' ;

}

h1{ 
    font-size: 50px;
    text-align: center;
}



img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 90%;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: 5;
    animation-name: spin;
}


    

/* Animations
------------------------------------- */

@keyframes  spin {
    from {transform: rotate(-25deg)}
to {transform:rotate(25deg)} 
}

   